*{
	text-align:left;
  font-family: sans-serif;
  line-height: 28px;
}

ul{
  text-decoration: none;
  list-style-type:none;
  color:#18dcff;
  size:13px;
  text-align: center;
}

body{
  margin:10px 10px;
  text-align:left;
  box-sizing: border-box;
  border:1px;
}

span{
  color:#FF0000;
  display: inline-block;
}

#tagline{
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    padding-top: 40px;
    font-size: 35px;
    color:black;
}

h1 {
  margin-left: 10px;
  padding: 1px 8px;
}

.nav-bar li {
    text-decoration: none;
    list-style-type: none;
    display: inline;
    padding: 20px 20px 20px 20px;
    border-right: 1px solid rgba(0,0,0,0.1);

}

.nav-bar {
     background-color: #f91616;
    font-size: 25px;
    border-radius: 10px 10px;
    margin: 2px 2px;
	  width:100%;
	  overflow:auto;
    position: inline;
    top:0;
    bottom:2px;
	  margin-bottom:20px;
     box-shadow: 0 10px 10px rgba(0,0,0,.5);

}

.nav-bar a {
    color: floralwhite;
    list-style-type: none;
    text-decoration: none;
    height: 20px;
    width:20px;
}

.nav-bar li:hover{
	background-color:#ff3838;
  color:#FFffff;
  transition-delay: 2ms;
  transform-style: -50%;
}

.nav-bar li a:hover{
  color:#18dcff;
  transform:scale(1.3);
}

.content{
    background-color: #dadfe1;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(241, 245, 245, 0.5);
}

#info{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 17px;
    font-family: "Times New Roman",sans-serif;
    text-align: left;
    padding: 30px;
    background-color:#f2f1ef;
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

#b1{
    border: 1px solid grey;
    padding: 5px;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
    color: black;
    background-color: #dadfe1;
  }

  #b2{
    border: 1px solid grey;
    padding: 5px;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
    color:black;
    background-color:#bdc3c7;
  }
  #p1,#p2{
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
    text-align: justify;
    padding: 15px;
  }
  
  #b1,#b2:hover{
    cursor: pointer;
  }
  
   

.bottom-bar{
    display: block;
    margin: 10px 10px;
    border: 2px solid #FFffff;
    background-color: #2e3131;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,.5);
}
.bottom-bar li{
    display: inline;
    color: #000000;
    text-decoration: none;
    list-style-type: none;
    font-size: 19px;
    border-right: 1px solid rgba(0,0,0,0.1);
    padding: 17px;
    padding-top: 22px;
    border-right: 0.5px solid rgba(88, 88, 89,0.9);
}
.bottom-bar a{
  color:floralwhite;
  text-decoration: none;
  list-style-type: none;
}

.bottom-bar li:hover{
  background-color:#95a5a6;
  color:black;
}
.bottom-bar i{
  color:white;
}

i{
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: opx;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(149, 165, 166);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color:rgb(46, 49, 49);
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}